.inputText{
    color:#fff;
    margin-bottom: 15px;
}

.inputLine{
    display: flex;
    flex-direction: column;
}

.inputBlock{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:60%;
    gap:50px;
    margin-top: 70px;
    place-self: left;
}

.lineBlock{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:60%;
    gap:50px;
    margin-top: 50px;
}

.sendButton{
    position:absolute;
    bottom:-100px;
    left:0;
    place-self: left;
    height:60px;
    width: 150px;
    font-weight: bold;
    font-size: 1rem;
    z-index: 99;
    color: #f3dd52;
    background: none;
    border-color: #f3dd52;
    border-radius: 10%;
    padding:20px 0px;
    cursor: pointer;
    transition:all ease-in 0.5s;
}

.sendButton:hover{
    border:none;
    background-color: #fff;
    color:#000;
}

.disabledButton{
    position:absolute;
    bottom:-100px;
    left:0;
    place-self: left;
    height:60px;
    width: 150px;
    font-weight: bold;
    font-size: 1rem;
    z-index: 99;
    color: grey;
    background: none;
    border-color: grey;
    border-radius: 10%;
    padding:20px 0px;
    cursor: pointer;
    transition:all ease-in 0.5s;
}

.message{
    display: flex;
    flex-direction: column;
    width:60%
}
@media  screen and (max-width:1280px) and (min-width:1080px) {
    .lineBlock{
        width:90%;
        padding: 0px 2%;
        gap:30px
    }
    .inputBlock{
        width:90%;
        gap:30px;
    }

    .message{
        width:85%;
    }
   
}

@media  screen and (max-width:1080px) {
   .lineBlock{
    grid-template-columns: repeat(2,1fr);
    width:100%;
    
   }
   .inputBlock{
    width:100%;
   }
   .message{
    width:90%;
}
}

@media screen and (max-width:485px) {
    .lineBlock{
        column-gap: 0;
        row-gap:20px;
        margin-top: 20px;
    }
    .inputBlock{
        column-gap: 0;
        row-gap:20px;
        align-items: center;
    }
    .inputLine{
        max-width: 80%;
        place-self: center;
    }
    .inputText{
        font-size: 0.8rem;
    }
    .contactBlock{
        margin-top: 110px !important;
    }
    .message{
        width:90%
    }
}