.container{
    background: linear-gradient(230deg,rgba(170, 239, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);    
    width:100vw;
    height:88vh;
    min-height: 700px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1920px;
    max-height: 1080px;
}

.contactCard{
    width:50%;
    min-width:450px;
    height:600px;
    background-color: #fff;
    margin-top: 100px;
    margin: auto;
    place-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px -8px;
    padding: 70px;
    border-radius: 15px;
}

.cardTitle{
    color:#002d3e;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 70px;
    text-align: left;
    font-weight: bold;
}

.contactText{
    color:#000;
    font-size: 1rem;
    margin-right: 20px;
    font-weight: 400;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width:90%;
    max-width: 600px;
    margin: auto auto auto 20vw ;
    place-self: right;
}

.twoLineContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    width:100%
}

.threeLineContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    width:100%
}

.fieldMessage{
    width:100%
}

.field{
    display: flex;
    flex-direction: column;
    width:100%
}

.label{
    color:#002d3e;
    font-size: 1.1rem;
    font-weight: 400;
    width:100%;
    padding-bottom: 10px;
    margin-bottom: 3px;
    position: relative;
}

  
  /*.label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
  }
  .label2{
    color:#002d3e;
    font-size: 1.1rem;
    font-weight: 400;
    width:105%;
    padding-bottom: 10px;
    margin-bottom: 3px;
    position: relative;
}

  
  .label2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 6px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
  }*/

.inputField{
    height:40px;
    border-radius: 13px;
    border: 2px solid #002d3e;
    width:100%;
}
.inputMessage{
    height:150px;
    border-radius: 13px;
    border: 2px solid #002d3e;
    width:100%;
}
.buttonContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    place-self: center;
    margin: 70px auto auto auto
}

@media (min-width:1921px){
    .form{
        margin: auto auto auto 8vw ;
    }
}

@media (max-width:1680px){
    .form{
        margin: auto auto auto 10vw ;
    }
}

@media (max-width:1080px){
    .container{
        background: linear-gradient(200deg,rgba(170, 239, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);  
        grid-template-columns: 100%;
        gap:0px;
        height: auto;
        max-height: none;
        min-height: none;
        min-width: 200px;
    }
    .contactCard{
        max-width:400px;
        width:90%;
        min-width: 200px;
        padding: 40px;
        margin-bottom: 50px;
        height:470px;
    }
    .form{
        margin: auto ;
        max-width:400px;
        width:90%;
        padding: 50px 0px;
    }
    .label{
        font-size: 0.9rem;
    }
    .inputField{
        height: 35px;
    }
    .contactText{
        font-size: 0.9rem;
        margin-right: 10px;
    }
    .cardTitle{
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    .buttonContainer{
        margin: 40px auto auto auto
    }
}