.headerTitle {
    font-size: 5rem;
    z-index: 99;
    color: #fff;
    text-shadow: 2px 3px 3px #fff;
    font-weight: bold;
    max-width: 70vw;
    text-align: center;
    margin-top: 70px;
}

.logoMobile{
    display: none;
}


.contactButton {
    width: 300px;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 99;
    color: #f3dd52;
    background: none;
    border-color: #f3dd52;
    border-radius: 10%;
    padding: 20px 0px;
    cursor: pointer;
    transition: all ease-in 0.5s;

}

.contactButton:hover {
    border: none;
    background-color: #fff;
    color: #000;
}

.headerSubTitle {
    font-size: 2rem;
    color: #fff;
    z-index: 99;
    font-style: italic;
}

.phoneImage {
    position: absolute;
    top: 200px;
    animation: phoneAnimation 1s ease-in-out infinite alternate;
    width: 60vw;
    height: 60vh;
    max-height: 900px;
}

@keyframes phoneAnimation {
    0% {
        transform: scale(1)
    }100%{
        transform: scale(1.1)
    }
}

@media  screen and (min-width:1281px){
    .headerContainer{
        max-height: 1080px;
        min-height: 1080px;
        background-repeat: no-repeat;
        padding-top: 15vh;
    }

}

@media  screen and (max-width:1280px) and (min-width:1080px) {
    .headerContainer{
        padding-top: 15vh;
        min-height: 800px;
    }

    .headerTitle {
        font-size: 3.5rem;
    }
    .contactButton {
        width: 250px;
    }
    .headerSubTitle {
        font-size: 1.7rem;
    }
}

@media  screen and (max-width:1080px) {
    .logoMobile{
        display: block;
        margin-top: 50px;
    }
    .headerContainer{
        max-height: 600px;
        min-height: 500px;
        background-image: none;

    }
    .headerTitle {
        font-size: 2.5rem;
        max-width: 90%;
        margin-top: -100px;
    }
    .contactButton {
        width: 150px;
        font-size: 1rem;
    }
    .headerSubTitle {
        font-size: 1.3rem;
    }
    .phoneImage{
        display: none;
    }
}

@media  screen and (max-width:600px) {
    .headerContainer{
        max-height: 600px;
        min-height: 500px;
    }
    .headerTitle{
        font-size: 1.7rem;

    }
    .headerSubTitle {
        font-size: 1rem;
    }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }