.blockText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 1080px;
    margin: 0 0 0 10%;
    z-index: 99
}

.title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 150px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 80%;
    margin-top: 50px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
}


.cardTitle {
    color: #f3dd52;
    font-size: 1.5rem
}

.cardDescription {
    font-size: 1rem;
    background-color: #62dfbf;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    min-height: 250px;
    transition: all ease-in 0.5s;

}

.cardDescription:hover {
    background-color: #fff;
}

.subTitle {
    color: #fff;
    font-size: 1.5rem
}

.contactButton {
    position: absolute;
    bottom: 0px;
    place-self: left;
    width: 300px;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 99;
    color: #f3dd52;
    background: none;
    border-color: #f3dd52;
    border-radius: 10%;
    padding: 20px 0px;
    cursor: pointer;
    transition: all ease-in 0.5s;
}

.contactButton:hover {
    border: none;
    background-color: #fff;
    color: #000;
}

@media screen and (max-width:1280px) and (min-width:1080px) {
    .title {
        font-size: 2rem;
        margin-top: 0px;
    }

    .cardTitle {
        font-size: 1.3rem;
    }

    .blockText{
        margin-left: 5%;
    }
    .subTitle {
        font-size: 1.3rem
    }
    .cardDescription{
        font-size: 0.8rem;
    }
    .contactButton{
        bottom: -15vh;
    }
    .cardContainer{
        gap:20px
    }

}


@media screen and (max-width:1080px) {
    .contactButton{
        bottom: -50px;
    }
    .title {
        font-size: 1.5rem;
    }

    .cardTitle {
        font-size: 1rem;
    }

    .blockText{
        margin-left: 1%;
    }
    .subTitle {
        font-size: 1rem
    }
    .imageServices{
        display: none;
    }
    .blockText{
        margin: 0;
        align-items: center;
    }
    
}

@media screen and (max-width:600px) {
    .cardContainer{
        grid-template-columns: 100%;
    }

}

@media screen and (max-width:400px) {
    .serviceContainer{
        background: none !important;
    }

}