.container{
    border-top: 1px solid #b8b9bb;
    margin: 0px 5vw;
    width:85vw;
    height:500px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px 0px;
}

.imageContainer{
    width:80%;
    height:80%;
    position: relative;
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.cardTitle{
    color:#3bb696;
    font-weight: bold;
    font-size: 1.6rem;
    max-width: 60%;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.button{
    width:60%;
    border-radius:20px;
    border: 1px solid #002d3e;
    text-align: center;
    padding: 10px 20px;
    color:#002d3e;
    font-weight: bold;
    margin-top: 20px;
}

.description{
    color:#002d3e;
    font-size: 1.1rem;
    width:70%;
    font-weight: 400;
    word-spacing: 2px;
    line-height: 25px;
    text-align: left;
}

.block3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note{
    width:70%;
    border-radius:20px;
    color:#fff;
    background-color: #3bb696;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
}