.container{
    display: grid;
    grid-template-columns: 32% 32% 36%;
    gap:3vw;
    width:90vw;
    max-width: 1280px;
    margin: auto;
    place-self: center;
    padding: 200px 0px;
    
}
.tarifCard{
    background-color: rgb(184,185,187,0.3);
    width:100%;
    max-width: 400px;
    min-width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;
    padding: 20px 10px;
    height:100%;
}
.infoCard{
    background-color: rgb(184,185,187,0.3);
    width:100%;
    max-width: 700px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    height:fit-content;
  justify-self: center;
}
.imageContainer{
    width:90%;
    height:150px;
    position: relative;
}
.dote{
    width:7px;
    height:7px;
    border-radius: 50%;
    background-color: #002d3e;
    margin-right: 20px;
    margin-top: 4px;
}
.offreContainer{
    margin: 40px 20px;
}
.offre{
    font-size: 1rem;
    font-weight: 400;
    width:95%;
    color:#002d3e;
    margin-top: -1px;
}
.title{
    color:#3bb696;
    text-align: center;
    font-size: 1.7rem;
    margin: -10px 0px 50px 0px;
    text-transform: uppercase;
}
.textInfo{
    background-color: #3bb696;
    padding:15px;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
}
.infoImage{
    width:150px;
    height: 150px;
    position: relative;
}
.infoTextContainer{
    width:70%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.titleInfo{
    font-size: 0.9rem;
    font-weight: bold;
}
.text{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0px;
    color:#002d3e
}
@media (max-width:1380px) and (min-width:1081px){
    .container{
       margin-left:2vw
    }
}

@media (max-width:1080px){
    .container{
        grid-template-columns: 100%;
        padding: 150px 0px;
    }
    .infoImage{
        width:80px;
        height: 80px;
    }
    .offre{
        font-size: 0.9rem;
    }
    .infoCard{
        padding: 30px;
    }
    
}