.container {
    background: linear-gradient(-20deg, rgba(170, 239, 242, 1) 0%, rgba(255, 255, 255, 1) 80%);
    width: 100vw;
    max-width: 1920px;
    max-height: 1080px;
    height: 88vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 120px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
    margin: auto;
    width: 85%;
    height: 85%;
    position: relative;
}

.textContainer {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.title {
    color: #002d3e;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px #002d3e;
    width: 90%;
    min-width: 400px;
    margin-bottom: 50px;
}

.subtitle {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 70px;

}

.dote {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
}

.button {
    background-color: #3bb696;
    border-radius: 50px;
    padding: 15px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}


@media (max-width:1380px) {
    .container{
        margin-top: 100px;
    }
    .title {
        font-size: 3.7rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }
}

@media (max-width:620px){
    .container {
        grid-template-columns: 100%;
    }
}

@media (max-width:1080px) {
    .container {
        margin-top: 50px;
        max-height: 350px;
    }

    .title {
        font-size: 2.2rem;
        width:100%;
        min-width: 200px;
        text-align: left;
        margin-bottom: 40px;
    }

    .subtitle {
        font-size: 1.2rem;
        min-width: 200px;
    }

    .imageContainer {
        width: 100%;
        height: 100%;
    }
    .textContainer {
        margin: 0px 7% 0px 10%;
    }
}

@media (max-width:620px){
    .imageContainer {
        min-height: 100px;
        width: 100%;
        height: 100%;
        margin:-40px 0px 30px 0px;
    }
}