.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100vw;
    height:120px;
    background-color: #fff;
    position:fixed;
    z-index: 999;
}

.menuItems{
    display: flex;
    justify-content: space-around;
    width: 50vw;
    min-width: 800px;
}

.item{
    color:#002d3e;
    font-size: 1.2rem;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3bb696;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    border-top:1px #000 solid;
    border-left:1px #000 solid;

}