.title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}



.cardContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width:400px;
    font-size: 1rem;
    background-color: #62dfbf;
    padding: 30px;
    border-radius: 20px;
    min-height: 250px;
}

.avatar{
    border-radius: 50%;
}

.citation {
    quotes: "« " " »" "‹ " " ›";
    font-style: italic;
}

.citation:before {
    content: open-quote;
}

.citation:after {
    content: close-quote;
}


.blockquote {
    font-style: italic;
    margin: 20px;
    padding: 10px;
    border-left: 5px solid #ccc;
}


.horizontalScroll {
    display: flex; /* Place les éléments en ligne */
    overflow-x: auto; /* Active le défilement horizontal */
    scroll-behavior: smooth; /* Ajoute un effet de défilement fluide */
    gap: 20px; /* Espacement entre les éléments (facultatif) */
    width:70%;
    margin-top: 50px;
    max-width: 1280px;
    padding-bottom: 20px;
  } 
  
  .horizontalScroll::-webkit-scrollbar {
    height: 8px; /* Hauteur de la scrollbar */
  }
  
  .horizontalScroll::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de la barre */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .horizontalScroll::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Couleur au survol */
  }
  



@media (max-width:1280px) {
    .carrousel{
        width:100%
    }
    .cardContainer{
        width:90%;
        margin-left: 5%;
    }
    .title{
        font-size: 1.5rem;
    }
}

@media (max-width:620px) {
    .title{
        margin-top: 100px;
        font-size: 1.2rem;
    }
    .horizontalScroll{
        width:90%
    }
    .blockquote {
        margin: 20px 20px 20px 5px;
    }
    .cardContainer{
        min-width: 280px;
        min-height: 200px;
        padding: 30px 15px;
    }
}