.container{
    background: linear-gradient(-20deg,rgba(170, 239, 242, 1) 0%, rgba(255, 255, 255, 1) 60%);    
    width:100vw;
    height:88vh;
    max-width: 1920px;
    max-height: 1080px;
    min-height: 700px;
    display:flex;
    flex-direction: column;
    margin-top: 100px;
}

.containerCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:90%;
    max-width: 1180px;
    margin:auto;
    place-self: center;
}
.card{
    display:flex;
    flex-direction: column;
    margin:auto;
    place-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 400px;
}
.block1{
    display: flex;
    flex-direction: column;
    background-color: #41c1ba;
    width:350px;
    align-items: center;
    padding: 60px 10px 30px 10px;
    position:relative;
    
}
.cardTitle{
    color:#fff;
    font-size: 1.1rem;
    font-weight: 400;

}
.imageContainer{
    position: relative;
    width:100px;
    height:20px
}
.block2{
    background-color: #62ddd6;
    width:350px;
    min-height:265px;
    padding: 50px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.description{
    color:#002d3e;
    font-size: 1rem;
    font-weight: 400;
}
.avatarContainer{
    position: relative;
    width:80px;
    height:80px;
    border-radius: 50%;
    border: #41c1ba solid 5px;
    position: absolute;
    top:-40px;
}
.title{
    color:#3bb696;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

@media (max-width:1080px){
    .title{
        font-size: 1.9rem;
        max-width: 90%;
        margin: 20px auto;
        place-self: center;
    }
    .container{
        height:fit-content;
        max-height: none;
        margin-top: 0px;
    }
    .containerCard{
        grid-template-columns: 100%;
        gap:100px;
        margin:50px
    }
    .card{
        max-width:400px;
        width:90%
    }
    .block1{
        width:100%;
    }
    .block2{
        width:100%;
    }

}