.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 0 2rem;
  background-color: #000;
  overflow: hidden;
  max-width: 1920px;
  place-self: center;
}

@media  (max-width:600px) {
  .container{
    padding:0;
    width:95%
  }
}


