.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
  overflow: hidden;
  max-width: 1920px;
}

@media (min-width:1920px){
  .container {
    place-self: center;
  }
}

@media  screen and (max-width:1280px) and (min-width:1080px) {
  .container{
    width:100%;
    padding: 0;
  }
}

@media  (max-width:600px) {
  .container{
    padding:0;
    width:95%;
    place-self: center;
    margin: auto;
  }
}


